* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body {
    background-color: #212121;

}


.calculator {
    border: 1px solid black;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #121212;
    border: 2px solid rgb(23, 23, 23);
}

.calculator-light {
    background-color: rgb(48, 71, 131);
    border: 2px solid rgb(23, 23, 23)s
}
.btn-light {
color: black;
}
.scr-light {
    color: black !important;
    background-color: rgb(203, 203, 203) !important;
}
.body-light {
    background-color: white;
}



.btn {
    border: none;
    cursor: pointer;
    width: 95px;
    height: 100px;
    color: white;
    font-size: 2rem;
    background-color: transparent;
}

.calc-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.btn-op {
    color: green;
}
.con-screen {
    height: 100%;
    display: flex;
    align-items: end;
}

#screen {
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 1.5rem 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    border: none;
  
}

@media screen and (max-width: 500px) {
    .calculator {
        height: 100vh;
    }

  #btn-menu {
font-size: 1rem;
padding: 0.5rem;
  }
    
}

@media screen and (max-width: 400px) {
    .calculator {
        width: 100%;
    }
  .btn {
    width: 25%;
  }
}

button {
    border: none;
}

.con-theme {
    position: absolute;
    top: 0;
    right: 0;
}

.con-theme button {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: 1rem;
    border: 1px solid white;
    cursor: pointer;
    width: 100px;
}

.con-opt {
    display: flex;
    flex-direction: column;
   
}

#btn-light, #btn-dark {
    display: none;
}

#btn-dark {
    background-color: gray;
}
.btn-menu-mob {
    display: none;
}


